/* Brand Colors ------------------------------------------------*/
	
	$primary-color: #ff3d00;/*-*/
	$primary-darker: #b6171d;
	$font-color: #6a6a6b;/*-*/
	$secondary-color: #4486F8;/*-*/
    $secondary-color: #4486F8;
	$secondary-lighter: #414040;
	$trittery-color: #ebab02;


	$placeholder: $secondary-color;
    $ligth-color: #c4c4c4;
    $ligth-color2: #fafafa;


    $muted-color1: #f5f5f5;
    $muted-color2: #f0f0f0;
    $border-color: #e2e2e2;
    $border-color-dark: #ececec;
    $border-darkest : #1d1d1d;


    $input-color: #c7c7c7;

    $intro-color: #f8f8f8;